.details{
    width: 80%;
    margin: auto;
}
.date{
    text-align: right;
    font-size: 1.2rem;
    font-weight: 650;
}
.imageSection{
    width: 100%;
}
.imageSection img{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 600px;
    margin: auto;
    object-fit: fill;
    box-shadow: 0 0 20px gray;
    transition: all .2s ease-in-out;
}

.imageSection img:hover{
    transform: scale(1.025);
}

.header{
    font-size:2.2rem;
    font-weight: 700;
}
.paragraph{
    font-size: 1.2rem;
}