.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.form{
    margin: auto;
    margin-top: 1rem;
    padding: 15px;
    width: 25%;
    box-shadow: 0 0 20px gray;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form label{
    font-size: 1.2rem;
    font-weight: 600;
}

.form .inputs{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-left: 10px;
}

.form textarea{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
}
.file{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.2rem;
}

.button{
    background-color: rgb(79, 207, 243);
    border-color: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem 0;
    border-radius: 10px;
}

.error{
    color: red;
    margin-bottom: 0.5rem;
}
