.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    text-align: center;
    overflow: auto;
}

.text{
    position: absolute;
    padding: 20px;
    background-color: white;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
}

.confirm{
    font-size: 2rem;
    font-weight: 700;
}

.text button{
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    background-color: red;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 1rem;
}