.main{
    background-color: rgb(20, 159, 205);
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.list{
    display: inline-block;
}
.listing{
    list-style: none;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 1rem;
}
.listing a{
    text-decoration: none;
}