.search{
    margin: 2rem 0;
    text-align: center;
}

.search input{
    line-height: 2rem;
    padding: 5px;
    width: 25%;
    font-size: 1.5rem;
    border-radius: 10px;
}

.result{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;  
    overflow: hidden;
    row-gap: 2rem;
}

.paginate{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.paginate button{
    font-size: 1.4rem;
    padding: 5px 15px;
    background-color: rgb(42, 143, 220);
    border-color: transparent;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
}
