.search{
    margin: 2rem 0;
    text-align: center;
}

.search input{
    line-height: 2rem;
    padding: 5px;
    width: 25%;
    font-size: 1.5rem;
    border-radius: 10px;
}

.result{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;  
    overflow: hidden;
    row-gap: 2rem;
}

.card{
    margin: 1rem;
    width: 30%;
    height: 500px;
    box-shadow: 0 0 20px gray;
    padding: 0 0.5rem;
}
.cardContent {
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card div img{
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    object-fit: cover;
    box-shadow: 0 0 10px gray;
}

.images{
    margin-top: 1rem;
}

.buttons{
    flex: 0.1;
    display: flex;
    justify-content: right;
    column-gap: 2rem;
    margin-bottom: 1rem;
}
.top{
    flex: 0.9;
}

.buttons button{
    font-size:1.3rem;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: transparent;
}

.delete{
    background-color: rgb(244, 43, 43);
}

.details{
    background-color: rgb(24, 185, 24);
}
